doctype html.uk-height-1-1 uk-notouch
head
	title= "MJW - Login"
	link(rel='stylesheet', href='/canvas_style.css')
	//-link(rel='stylesheet', href='bower_components/uikit/css/uikit.css')
	link(rel='stylesheet', href='bower_components/uikit/css/uikit.almost-flat.min.css')
	link(rel='stylesheet', href='bower_components/uikit/css/components/form-file.css')
	link(rel='stylesheet', href='bower_components/uikit/css/components/form-advanced.css')
	link(rel='stylesheet', href='bower_components/uikit/css/components/form-password.css')
	link(rel='stylesheet', href='bower_components/uikit/css/components/placeholder.css')
	body.uk-height-1-1(style='background-color:rgba(0,0,0,0.2);')
		.uk-vertical-align.uk-text-center.uk-height-1-1
			.uk-vertical-align-middle(style='width: 250px;')
				| &#x9;
				| &#x9;                
				form.uk-panel.uk-panel-box.uk-form(action='/canvas', method='POST')
					.uk-form-row
						input.uk-width-1-1.uk-form-large(name='username' type='text', placeholder='Username')
					| &#x9;                    
					.uk-form-row
						input.uk-width-1-1.uk-form-large(name='room' type='text', placeholder='Room Name')
					| &#x9;                    
					.uk-form-row
						input#submit.uk-width-1-1.uk-button.uk-button-primary.uk-button-large(type='submit',value='Login')
